---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Menu a tu medida">
	<main>
		<h1>Menú a tu medida</h1>
	</main>
</Layout>
<!-- 
<style>
	
</style> -->
