---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import ButtonTypeMenu from '../components/ButtonTypeMenu.jsx';
import Form from '../components/Form.astro';
import ResponseMenu from '../components/ResponseMenu.astro';

import { isRoutine } from '../helpers/isRoutine.js';

const $isRoutine = isRoutine;
const listButton = ['Rutina', 'Comida'];

---

<Layout title='Menu a tu medida'>
	<main>
		<section
			id='main-content'
			class='flex'
		>
			<article class='flex flex-col m-7'>
				<section 
					id='presentation'
					class='w-3/4 p-10'
				>
					<h1 
						class='text-5xl text-center font-bold'
					>
						Menu a tu medida
					</h1>
					<p
						class='text-center py-7'
					>
						Nisi eiusmod magna anim ut nostrud voluptate do adipisicing.
						Aliqua laborum laborum laborum laborum laborum laborum laborum
					</p>
					<div class='flex justify-center'>
						<svg 
							class='mx-4'
							xmlns='http://www.w3.org/2000/svg' 
							width='128' 
							height='128' 
							viewBox='0 0 24 24'
						>
							<path 
								fill='currentColor' 
								d='M11.39 2.287A7.23 7.23 0 0 0 9.02 9.07c-1.522-.876-3.2-1.14-5.128-.98a.96.96 0 0 0-.874 1.04c.157 1.726.952 3.438 2.06 4.776a9 9 0 0 0-1.249.077a.94.94 0 0 0-.813 1.004A7.596 7.596 0 0 0 10.589 22h2.821a7.596 7.596 0 0 0 7.574-7.013a.94.94 0 0 0-.814-1.004a9 9 0 0 0-1.234-.077c1.108-1.339 1.903-3.05 2.06-4.776a.96.96 0 0 0-.875-1.04c-1.928-.16-3.615.104-5.142.98a7.23 7.23 0 0 0-2.369-6.783a.93.93 0 0 0-1.22 0m.61 9.44a5.74 5.74 0 0 1 0-7.953a5.74 5.74 0 0 1 0 7.952m0 5.607a9 9 0 0 0-4.234-2.978a1 1 0 0 0-.103-.085c-1.47-1-2.72-2.844-3.073-4.72c1.869-.062 3.336.387 4.675 1.521c1.025.869 1.48 1.928 1.817 2.715c.088.204.167.39.247.548a.75.75 0 0 0 1.341 0q.118-.24.247-.548c.338-.787.792-1.847 1.817-2.715c1.339-1.133 2.817-1.583 4.69-1.521c-.354 1.876-1.603 3.72-3.073 4.72a1 1 0 0 0-.096.077A9 9 0 0 0 12 17.334m.643 1.706c1.393-2.33 4.002-3.78 6.779-3.623A6.096 6.096 0 0 1 13.41 20.5h-2.82c-3 0-5.524-2.176-6.011-5.082c2.776-.158 5.385 1.291 6.778 3.622a.75.75 0 0 0 1.287 0'
							/>
						</svg>
						<svg 
							class='mx-4'
							xmlns='http://www.w3.org/2000/svg' 
							width='128' 
							height='128' 
							viewBox='0 0 24 24'
						>
							<path 
								fill='none' 
								stroke='currentColor' 
								stroke-linecap='round' 
								stroke-linejoin='round' 
								stroke-width='1.5' 
								d='M19.463 3.994c-2.682-1.645-5.023-.983-6.429.073c-.576.433-.864.65-1.034.65s-.458-.217-1.034-.65C9.56 3.011 7.219 2.35 4.537 3.994C1.018 6.152.222 13.274 8.34 19.283c1.546 1.144 2.319 1.716 3.66 1.716s2.114-.572 3.66-1.716c8.118-6.009 7.322-13.13 3.803-15.29M12 9v6m-3-3h6' 
								color='currentColor'
							/>
						</svg>
						<svg 
							class='mx-4'
							xmlns='http://www.w3.org/2000/svg' 
							width='128' 
							height='128' 
							viewBox='0 0 16 16'
						>
							<path 
								fill='currentColor' 
								d='M1.338 1.961C1.495 1.362 2.041 1 2.615 1c.354 0 .676.133.921.35a1.5 1.5 0 0 1 1.928 0A1.38 1.38 0 0 1 6.385 1c.574 0 1.12.362 1.277.961C7.812 2.533 8 3.455 8 4.5a3.5 3.5 0 0 1-1.595 2.936c-.271.177-.405.405-.405.6v.396q0 .034.004.066c.034.248.157 1.169.272 2.124c.113.937.224 1.959.224 2.378a2 2 0 1 1-4 0c0-.42.111-1.44.224-2.378c.115-.955.238-1.876.272-2.124L3 8.432v-.396c0-.195-.134-.423-.405-.6A3.5 3.5 0 0 1 1 4.5c0-1.045.188-1.967.338-2.539M6 5a.5.5 0 0 1-1 0V2.5a.5.5 0 0 0-1 0V5a.5.5 0 0 1-1 0V2.385A.385.385 0 0 0 2.615 2c-.166 0-.28.099-.31.215A9.2 9.2 0 0 0 2 4.5a2.5 2.5 0 0 0 1.14 2.098c.439.285.86.786.86 1.438v.396q0 .1-.013.2c-.034.246-.156 1.161-.27 2.11c-.116.965-.217 1.914-.217 2.258a1 1 0 1 0 2 0c0-.344-.1-1.293-.217-2.259c-.114-.948-.236-1.863-.27-2.11A2 2 0 0 1 5 8.433v-.396c0-.652.421-1.153.86-1.438A2.5 2.5 0 0 0 7 4.5c0-.932-.168-1.764-.305-2.285C6.665 2.1 6.55 2 6.385 2A.385.385 0 0 0 6 2.385zm3 .5A4.5 4.5 0 0 1 13.5 1a.5.5 0 0 1 .5.5v5.973l.019.177a261 261 0 0 1 .229 2.24c.123 1.256.252 2.664.252 3.11a2 2 0 1 1-4 0c0-.446.129-1.854.252-3.11c.063-.637.126-1.247.173-1.699l.02-.191H10a1 1 0 0 1-1-1zm2.997 2.053l-.021.202a386 386 0 0 0-.228 2.233c-.127 1.287-.248 2.63-.248 3.012a1 1 0 1 0 2 0c0-.383-.121-1.725-.248-3.012a315 315 0 0 0-.228-2.233l-.021-.201L13 7.5V2.035A3.5 3.5 0 0 0 10 5.5V7h1.5a.5.5 0 0 1 .497.553'
							/>
						</svg>
					</div>
				</section>
				<section 
					id='objetivos'
					class='w-3/4 p-10'
				>
					<h1 
						class='text-5xl text-center font-bold'
					>
						Nuestros Objetivos
					</h1>
					<p
						class='text-center py-7'
					>
						Nisi eiusmod magna anim ut nostrud voluptate do adipisicing.
						Aliqua laborum laborum laborum laborum laborum laborum laborum
					</p>
					<div 
						class='flex justify-center mx-7'
					>
						<svg 
							class='mx-4'
							xmlns='http://www.w3.org/2000/svg' 
							width='128' 
							height='128' 
							viewBox='0 0 24 24'
						>
							<path 
								fill='currentColor' 
								d='M11.39 2.287A7.23 7.23 0 0 0 9.02 9.07c-1.522-.876-3.2-1.14-5.128-.98a.96.96 0 0 0-.874 1.04c.157 1.726.952 3.438 2.06 4.776a9 9 0 0 0-1.249.077a.94.94 0 0 0-.813 1.004A7.596 7.596 0 0 0 10.589 22h2.821a7.596 7.596 0 0 0 7.574-7.013a.94.94 0 0 0-.814-1.004a9 9 0 0 0-1.234-.077c1.108-1.339 1.903-3.05 2.06-4.776a.96.96 0 0 0-.875-1.04c-1.928-.16-3.615.104-5.142.98a7.23 7.23 0 0 0-2.369-6.783a.93.93 0 0 0-1.22 0m.61 9.44a5.74 5.74 0 0 1 0-7.953a5.74 5.74 0 0 1 0 7.952m0 5.607a9 9 0 0 0-4.234-2.978a1 1 0 0 0-.103-.085c-1.47-1-2.72-2.844-3.073-4.72c1.869-.062 3.336.387 4.675 1.521c1.025.869 1.48 1.928 1.817 2.715c.088.204.167.39.247.548a.75.75 0 0 0 1.341 0q.118-.24.247-.548c.338-.787.792-1.847 1.817-2.715c1.339-1.133 2.817-1.583 4.69-1.521c-.354 1.876-1.603 3.72-3.073 4.72a1 1 0 0 0-.096.077A9 9 0 0 0 12 17.334m.643 1.706c1.393-2.33 4.002-3.78 6.779-3.623A6.096 6.096 0 0 1 13.41 20.5h-2.82c-3 0-5.524-2.176-6.011-5.082c2.776-.158 5.385 1.291 6.778 3.622a.75.75 0 0 0 1.287 0'
							/>
						</svg>
						<svg 
							class='mx-4'
							xmlns='http://www.w3.org/2000/svg' 
							width='128' 
							height='128' 
							viewBox='0 0 24 24'
						>
							<path 
								fill='none' 
								stroke='currentColor' 
								stroke-linecap='round' 
								stroke-linejoin='round' 
								stroke-width='1.5' 
								d='M19.463 3.994c-2.682-1.645-5.023-.983-6.429.073c-.576.433-.864.65-1.034.65s-.458-.217-1.034-.65C9.56 3.011 7.219 2.35 4.537 3.994C1.018 6.152.222 13.274 8.34 19.283c1.546 1.144 2.319 1.716 3.66 1.716s2.114-.572 3.66-1.716c8.118-6.009 7.322-13.13 3.803-15.29M12 9v6m-3-3h6' 
								color='currentColor'
							/>
						</svg>
						<svg 
							class='mx-4'
							xmlns='http://www.w3.org/2000/svg' 
							width='128' 
							height='128' 
							viewBox='0 0 16 16'
						>

							<path 
								fill='currentColor' 
								d='M1.338 1.961C1.495 1.362 2.041 1 2.615 1c.354 0 .676.133.921.35a1.5 1.5 0 0 1 1.928 0A1.38 1.38 0 0 1 6.385 1c.574 0 1.12.362 1.277.961C7.812 2.533 8 3.455 8 4.5a3.5 3.5 0 0 1-1.595 2.936c-.271.177-.405.405-.405.6v.396q0 .034.004.066c.034.248.157 1.169.272 2.124c.113.937.224 1.959.224 2.378a2 2 0 1 1-4 0c0-.42.111-1.44.224-2.378c.115-.955.238-1.876.272-2.124L3 8.432v-.396c0-.195-.134-.423-.405-.6A3.5 3.5 0 0 1 1 4.5c0-1.045.188-1.967.338-2.539M6 5a.5.5 0 0 1-1 0V2.5a.5.5 0 0 0-1 0V5a.5.5 0 0 1-1 0V2.385A.385.385 0 0 0 2.615 2c-.166 0-.28.099-.31.215A9.2 9.2 0 0 0 2 4.5a2.5 2.5 0 0 0 1.14 2.098c.439.285.86.786.86 1.438v.396q0 .1-.013.2c-.034.246-.156 1.161-.27 2.11c-.116.965-.217 1.914-.217 2.258a1 1 0 1 0 2 0c0-.344-.1-1.293-.217-2.259c-.114-.948-.236-1.863-.27-2.11A2 2 0 0 1 5 8.433v-.396c0-.652.421-1.153.86-1.438A2.5 2.5 0 0 0 7 4.5c0-.932-.168-1.764-.305-2.285C6.665 2.1 6.55 2 6.385 2A.385.385 0 0 0 6 2.385zm3 .5A4.5 4.5 0 0 1 13.5 1a.5.5 0 0 1 .5.5v5.973l.019.177a261 261 0 0 1 .229 2.24c.123 1.256.252 2.664.252 3.11a2 2 0 1 1-4 0c0-.446.129-1.854.252-3.11c.063-.637.126-1.247.173-1.699l.02-.191H10a1 1 0 0 1-1-1zm2.997 2.053l-.021.202a386 386 0 0 0-.228 2.233c-.127 1.287-.248 2.63-.248 3.012a1 1 0 1 0 2 0c0-.383-.121-1.725-.248-3.012a315 315 0 0 0-.228-2.233l-.021-.201L13 7.5V2.035A3.5 3.5 0 0 0 10 5.5V7h1.5a.5.5 0 0 1 .497.553'
							/>
						</svg>
					</div>
				</section>
			</article>
			<article class='flex m-7'>
				<section 
					id='form-menu'
					class='p-7 bg-[#2F4350] text-white rounded-3xl'
				>
					<ul
						class='flex flex-wrap mb-5 justify-center'
					>

					{
						listButton.map((name) => (
							<ButtonTypeMenu 
								client:load
								name={ name }
							/>
						))
					}
					</ul>
					<Form 
						client:load
						isRoutine = { $isRoutine.get() }
					/>
				</section>
			</article>
		</section>
		<hr>
		<article class='flex flex-col justify-center items-center'>
			<h2>
				Muy bien, Emrys prepara tu rutina...
			</h2>
			<ResponseMenu/>
		</article>
	</main>
	<footer>

	</footer>
</Layout>
<!-- 
<style>
	
</style> -->
