---
interface Props {
    isRoutine: boolean;
}
const { isRoutine } = Astro.props;
const typesOfDiseases = [
    { 'value':  'enfermedad-celíaca', 'label': 'Enfermedad Celíaca' },
    { 'value':  'intolerancia-a-la-lactosa', 'label': 'Intolerancia a la Lactosa' },
    { 'value':  'alergia-al-maní', 'label': 'Alergia al Maní' },
    { 'value':  'alergia-a-los-frutos-secos', 'label': 'Alergia a los Frutos Secos' },
    { 'value':  'alergia-a-los-mariscos', 'label': 'Alergia a los Mariscos' },
    { 'value':  'alergia-al-pescado', 'label': 'Alergia al Pescado' },
    { 'value':  'diabetes-mellitus', 'label': 'Diabetes Mellitus' },
    { 'value':  'hipertensión-arterial', 'label': 'Hipertensión Arterial' },
    { 'value':  'enfermedad-renal-crónica', 'label': 'Enfermedad Renal Crónica' },
    { 'value':  'insuficiencia-hepática', 'label': 'Insuficiencia Hepática' },
    { 'value':  'sii', 'label': 'Síndrome de Intestino Irritable (SII)' },
    { 'value':  'gota', 'label': 'Gota' },
    { 'value':  'anemia-por-deficiencia-de-hierro', 'label': 'Anemia por Deficiencia de Hierro' },
    { 'value':  'hipotiroidismo', 'label': 'Hipotiroidismo' },
    { 'value':  'hipertiroidismo', 'label': 'Hipertiroidismo' },
    { 'value':  'pku', 'label': 'Fenilcetonuria (PKU)' },
    { 'value':  'galactosemia', 'label': 'Galactosemia' },
    { 'value':  'hiperlipidemia', 'label': 'Hiperlipidemia' },
    { 'value':  'enfermedad-de-crohn', 'label': 'Enfermedad de Crohn' },
    { 'value':  'colitis-ulcerosa', 'label': 'Colitis Ulcerosa' },
    { 'value':  'enfermedad-de-wilson', 'label': 'Enfermedad de Wilson' },
    { 'value':  'insuficiencia-suprarrenal', 'label': 'Insuficiencia Suprarrenal' },
    { 'value':  'intolerancia-a-la-fructosa', 'label': 'Intolerancia a la Fructosa' },
    { 'value':  'síndrome-metabólico', 'label': 'Síndrome Metabólico' },
    { 'value':  'hiperuricemia', 'label': 'Hiperuricemia' },
    { 'value':  'trastornos-de-la-vesícula-biliar', 'label': 'Trastornos de la Vesícula Biliar' },
    { 'value':  'síndrome-del-intestino-corto', 'label': 'Síndrome del Intestino Corto' },
    { 'value':  'cáncer', 'label': 'Cáncer' },
    { 'value':  'obesidad', 'label': 'Obesidad' },
    { 'value':  'dislipidemia', 'label': 'Dislipidemia' },
    { 'value':  'síndrome-de-dumping', 'label': 'Síndrome de Dumping' },
    { 'value':  'erge', 'label': 'Reflujo Gastroesofágico (ERGE)' },
    { 'value':  'migrañas', 'label': 'Migrañas' },
    { 'value':  'insuficiencia-pancreática-exocrina', 'label': 'Insuficiencia Pancreática Exocrina' },
    { 'value':  'síndrome-de-sjögren', 'label': 'Síndrome de Sjögren' },
    { 'value':  'fibrosis-quística', 'label': 'Fibrosis Quística' },
    { 'value':  'enfermedad-de-addison', 'label': 'Enfermedad de Addison' },
    { 'value':  'trastornos-de-la-alimentación', 'label': 'Trastornos de la Alimentación' },
    { 'value':  'enfermedad-de-lyme', 'label': 'Enfermedad de Lyme' },
    { 'value':  'alzheimer', 'label': 'Alzheimer' },
    { 'value':  'enfermedad-de-huntington', 'label': 'Enfermedad de Huntington' },
    { 'value':  'enfermedad-de-parkinson', 'label': 'Enfermedad de Parkinson' },
    { 'value':  'enfermedades-cardiovasculares', 'label': 'Enfermedades Cardiovasculares' },
    { 'value':  'insuficiencia-cardíaca', 'label': 'Insuficiencia Cardíaca' },
    { 'value':  'sop', 'label': 'Síndrome del Ovario Poliquístico (SOP)' },
    { 'value': 'otros', 'label': 'Otros' }
];
---
<form  
    class='flex flex-col'
    method='post'
>
    <label 
        for='priority'
    >
        Quieres que priorice lo dulce o lo salado?
    </label>
    <select 
        name='priority' 
        id='priority'
    >
        <option value='sweet'>Dulce</option>
        <option value='salty'>Salado</option>
    </select>
    <label
        for='vegetarian'
    >
        Eres vegetariano?
    </label>
    <input
        type='checkbox'
        name='vegetarian'
        id='vegetarian'   
    />
    <label for='vegan'>
        Eres vegano?
    </label>
    <input
        type='checkbox'
        name='vegan'
        id='vegan'
    />
    <label for='favorite-foods'>
        Cuentanos algunos alimentos que te gusten mucho
    </label>
    <input 
        type='text' 
        name='favorite-foods' 
        id='favorite-foods'
    >
    <label for='non-favorite-foods'>
        Cuentanos algunos alimentos que te NO gusten
    </label>
    <input 
        type='text' 
        name='non-favorite-foods' 
        id='non-favorite-foods'
    >
    <label
        for='foodborne-illness'
    >
        Sufres alguna enfermedad que te impida comer ciertos alimentos?
    </label>
    <input
        type='checkbox'
        name='foodborne-illness'
        id='foodborne-illness'   
    />
    <label for='type-of-disease'>
        Cuentanos que condiciones de salud tienes?
    </label>
    <select 
        name='type-of-disease' 
        id='type-of-disease'
    >
        {
            typesOfDiseases.map((type) => (
                <option value={ type.value }>{ type.label }</option>
            )) 
        }
    </select>
    <label for='other-type-of-disease'>
        Especificanos que condicion a las anteriormente mencionadas tienes
    </label>
    <input 
        type='text' 
        name='other-type-of-disease' 
        id='other-type-of-disease'
    >
    <button type='submit'>Generar</button>
</form>