---
interface ResponseMenuProps {
    response: string;
}
---
<section id='respuesta-ia'>
    <h2 class=''>
        Muy bien, Emrys prepara tu rutina...
    </h2>
    <p>
        Respuesta de la IA
    </p>
</section>